@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');


.scrollbar-hide::-webkit-scrollbar {
  height: 0px !important;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
